.flex-row {
  display: flex;
  margin: 5px;
  padding-left: 5px;
  /* border: #B8B8B8 solid 1px; */
  /* width:40%; */
  /* justify-content : space-between; */
  /* height: 50%; */
  box-shadow: -5px 5px 5px #b8b8b8;
  background-color: #effaff;
}

.flex-row > div {
  padding-right: 10px;
}
.edit-icon {
  color: #05386b;
  padding: 40%;
}
.delete-icon {
  color: #05386b;
  padding: 40%;
}
.task-content {
  flex-grow: 1;
}
.task-edit {
  max-height: 66px;
  visibility: hidden;
}
.flex-row:hover .task-edit {
  visibility: visible;
}
.select-dropdown {
  width: auto;
}
.floating-add-btn {
  cursor: pointer;
  display: flex;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #05386b;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.floating-add-btn i {
  font-size: 1.6rem;
  color: white;
}
/* .select-dropdown option :hover{
  background-color: #9E9E9E;
} */
.ReactModal__Content {
  opacity: 0;
  transform: translateY(1000px);
  transition: all 500ms ease-in-out;
}

.ReactModal__Content--after-open {
  opacity: 1;
  transform: translateY(0px);
}

.ReactModal__Content--before-close {
  opacity: 0;
  transform: translateY(1000px);
}
.cursor-pointer {
  cursor: pointer;
}
.task-skeleton {
  padding: 5px 0px;
  margin: 0px 6px;
  display: flex;
}
.task-chkbox-skeleton {
  width: 13px;
  border-radius: 2px;
  height: 13px;
  background-color: black;
  margin-top: 5px;
  margin-left: 5px;
}
.task-content-skeleton {
  display: flex;
  margin-left: 10px;
  width: 100%;
  flex-direction: column;
}
.task-title-skeleton {
  margin-top: 2px;
  height: 24px;
  background-color: black;
  width: 40%;
  border-radius: 5px;
}
.task-desc-skeleton {
  border-radius: 5px;
  margin-top: 8px;
  height: 21px;
  background-color: black;
  width: 95%;
}
.loading {
  position: relative;
  background-color: #c0c0c0;
}
.loading::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  transform: translateX(-100px);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(transparent),
    color-stop(rgba(255, 255, 255, 0.5)),
    to(transparent)
  );

  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.5),
    transparent
  );
  animation: loading 0.7s infinite;
}
@keyframes loading {
  100% {
    transform: translateX(100px);
  }
}
