.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex-row{
  display: flex;
  margin: 1% 8%;
  padding-left: 1%;
  /* border: #B8B8B8 solid 1px; */
  width:40%;
  justify-content : space-between;
  height: 50%;
  box-shadow: -5px 5px 5px  #B8B8B8 ;
  /* background-color: #E1F5FE; */
  
}

.flex-row > div{
  padding-right: 2%;
  
}
.edit-icon{
  color:#9E9E9E;
  padding: 40%;
}
.delete-icon{
 color: #9E9E9E; 
 padding: 40%;
}
.content{
  flex-grow: 1;
}
.icons{
  box-shadow: -5px 0px  5px #B8B8B8;
}
.edit{
  visibility: hidden;
}
.flex-row:hover .edit{
  visibility:visible;
}