.flex-row {
  display: flex;
  margin: 1%;
  padding-left: 1%;
  /* border: #B8B8B8 solid 1px; */
  /* width:40%; */
  /* justify-content : space-between; */
  /* height: 50%; */
  box-shadow: -5px 5px 5px #b8b8b8;
  background-color: #effaff;
}

.flex-row > div {
  padding-right: 2%;
}
.edit-icon {
  color: #05386B;
  padding: 40%;
}
.delete-icon {
  color: #05386B;
  padding: 40%;
}
.task-content {
  flex-grow: 1;
}
.task-edit {
  max-height: 66px;
  visibility: hidden;
}
.flex-row:hover .task-edit {
  visibility: visible;
}
.select-dropdown {
  width: auto;
}
.floating-add-btn {
  cursor: pointer;
  display: flex;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color:#05386B;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.floating-add-btn i {
  font-size: 1.6rem;
  color: white;
}
/* .select-dropdown option :hover{
  background-color: #9E9E9E;
} */
.ReactModal__Content {
  opacity: 0;
  transform: translateY(1000px);
  transition: all 500ms ease-in-out;
}

.ReactModal__Content--after-open {
  opacity: 1;
  transform: translateY(0px);
}

.ReactModal__Content--before-close {
  opacity: 0;
  transform: translateY(1000px);
}
.cursor-pointer {
  cursor: pointer;
}
